{% extends 'account/base.html' %}
{% load static %}
{% load sass_tags %}
{% load account socialaccount %}

{% block css %}
    <link rel="stylesheet" href="{% sass_src 'account/css/account.scss' %}">
{% endblock css %}

{% block js %}
    <script src="{% static 'account/js/account.js' %}"></script>
{% endblock js %}

{% block content %}
    <div class="ui middle aligned center aligned grid login">
        <div class="column">
            <h1 class="ui teal image header">
                <a class="image" href="{% url 'blog:index' %}">
                    <img class="logo" src="{% static 'img/logo.png' %}" alt="">
                </a>
                <div class="content">
                    登录 Blog
                </div>
            </h1>
            <div class="ui menu attached tabular">
                <a class="item active" data-tab="normal">直接登录 </a>
                <a class="item" data-tab="social">社交账号登录 </a>
            </div>
            <div class="ui segment attached tab active" data-tab="normal">
                <div class="column">
                    <form class="ui form" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        <div class="field">
                            <label for="{{ form.login.id_for_label }}"></label>
                            <div class="ui left icon input">
                                {{ form.login }}
                                <i class="user icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label for="{{ form.password.id_for_label }}"></label>
                            <div class="ui left icon input">
                                {{ form.password }}
                                <i class="lock icon"></i>
                            </div>
                        </div>
                        <button class="ui blue submit button" type="submit">登录</button>
                    </form>
                </div>
            </div>
            <div class="ui segment attached tab social" data-tab="social">
                <div class="ui middle aligned">
                    {% get_providers as socialaccount_providers %}
                    {% if socialaccount_providers %}
                        {% for provider in socialaccount_providers %}
                            {% if provider.id == "github" %}
                                <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                                    <i class="github icon"></i>
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

            </div>
            <div class="ui message">
                还没有<a href="{% url 'account_signup' %}">注册</a>?
            </div>
        </div>
    </div>
{% endblock content %}
