{% extends 'account/base.html' %}
{% load static %}
{% load sass_tags %}
{% load account socialaccount %}

{% block css %}
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% sass_src 'account/css/account.scss' %}">
{% endblock css %}

{% block js %}
    <script src="{% static 'account/js/account.js' %}"></script>
{% endblock js %}

{% block page_title %}登录 Chandelure's Blog{% endblock page_title %}
{% block content %}
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                {% get_providers as socialaccount_providers %}
                {% if socialaccount_providers %}
                    <div class="text-center">
                        {% for provider in socialaccount_providers %}
                            {% if provider.id == "github" %}
                                <a title="{{ provider.name }}" class="h1 {{ provider.id }} text-dark"
                                   href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><i
                                        class="fa fa-github" aria-hidden="true"></i></a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <form method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.login.id_for_label }}">用户名</label>
                        {{ form.login }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password.id_for_label }}">密码</label>
                        {{ form.password }}
                    </div>
                    <div class="form-group form-check text-center">
                        {{ form.remember }}
                        <label class="form-check-label" for="{{ form.remember.id_for_label }}">记住我</label>
                    </div>
                    <div class="form-group text-center pt-2">
                        <button type="submit" class="btn btn-success">登录</button>
                    </div>
                </form>
                <div class="text-center p-2">
                    <small class="text-muted">还没有账号,那就<a href="{% url 'account_signup' %}">注册</a>一个</small>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
{% endblock content %}

