html, body {
  font-family: PingFangSC-Regular, Noto Sans CJK, STHeiti, STHeiti LightSan Francisco, Helvetica Neue, Roboto, Avenir Next, sans-serifDin, Helvetica Neue;
  min-height: 100%;
  height: 100%;
  line-height: 1.8; }

button {
  box-shadow: none;
  outline: none; }
  button:focus, button:active:focus, button.active:focus, button.focus, button:active.focus, button.active.focus {
    outline: none;
    box-shadow: none; }

.display-none-md {
  display: none; }
  @media screen and (max-width: 992px) {
    .display-none-md {
      display: block; } }
.bg-header {
  background-color: #08AEEA;
  background-image: linear-gradient(135deg, #2AF598 0%, #08AEEA 100%); }

.bg-footer {
  background-color: #FEE140;
  background-image: linear-gradient(45deg, #FEE140 0%, #FA709A 100%); }

.bg-main {
  background-color: #444444; }

#wrap {
  position: relative;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box; }

#main {
  width: 100%;
  min-height: 500px;
  padding: 0 0 60px; }

header {
  width: 100%; }
  header > .navbar .navbar-collapse .nav-link {
    color: #ffffff; }
    header > .navbar .navbar-collapse .nav-link:hover {
      color: #000; }
  @media screen and (max-width: 1200px) {
    header > .navbar .dropdown {
      display: none; } }
  header > .navbar .dropdown .nav-link {
    color: #ffffff; }
  header > .navbar .dropdown .dropdown-menu {
    left: -100px; }
  header .brand img {
    width: 44px;
    height: 44px; }

footer {
  width: 100%;
  height: auto;
  left: 0; }
  footer .foot-link {
    color: #ffffff; }
    footer .foot-link:hover {
      color: #000; }
  footer .fa {
    font-size: 24px; }
  footer .brand img {
    width: 38px;
    height: 38px; }

.brand {
  font-family: "Comic Sans MS", sans-serif; }
