@import "base.scss";
@import "highlight.scss";
@import "toc.scss";

$load-post-card-icon-size: 48px;


.post-card {
  .post-card-header {
    h2 {
      a {
        color: $custom-white;

        &:hover {
          color: rgba($custom-white, 0.75);
        }
      }
    }
  }


  .post-card-footer {
    a {
      color: $custom-white;

      &:hover {
        background-color: $custom-white;
        color: $custom-dark;
      }
    }
  }
}

#load-post-card {
  i {
    font-size: $load-post-card-icon-size;

    &:hover {
      color: rgba($custom-white, 0.75);
    }
  }
}

#sidebar {
  will-change: min-height;
  top: 10px;

  li {
    list-style: none;

    a {
      color: $custom-white;
      text-decoration-line: none;
    }
  }
}

.post-detail {
  word-wrap: break-word;
}

.comment-form {
  .cke {
    border: 0;
  }

  button {
    background-color: transparent;
    color: $custom-white;

    &:hover {
      background-color: $custom-white;
      color: $custom-dark;
    }
  }
}

#post-comment {
  .comment {
    .comment-body {
      min-height: 50px;
    }
  }

  .img-avatar {
    width: 42px;
    height: 42px;
  }
}