@import "variables.scss";

.ui.hidden {
  display: none;
}

//Top Menu
.ui.fixed.menu {
  .right.menu {
    .item::before {
      width: 0 !important;
    }
  }

  @media screen and (max-width: $screen-md) {
    visibility: hidden !important;
  }
}

//Header Style
header {
  min-height: 500px;

  @media screen and (max-width: $screen-lg) {
    min-height: 400px;
  }

  @media screen and (max-width: $screen-md) {
    min-height: 300px;
  }

  h1.ui.header {
    margin-top: $margin-6 !important;
    margin-bottom: 0;
    font-size: $font-size-5;
    font-weight: bold;

    @media screen and (max-width: $screen-lg) {
      margin-top: $margin-5 !important;
      font-size: $font-size-4;
    }

    @media screen and (max-width: $screen-md) {
      margin-top: $margin-4 !important;
      font-size: $font-size-3;
    }
  }

  .ui.secondary {
    .item:not(.toc):not(.right) {
      @media screen and (max-width: $screen-md) {
        display: none !important;
      }
    }

    .toc.item {
      display: none;
      @media screen and (max-width: $screen-md) {
        display: block;
      }
    }
  }

  .ui.menu {
    margin-left: $margin-2 !important;
    @media screen and (max-width: $screen-md) {
      margin-left: $margin-1 !important;
    }
  }

  .ui.button {
    margin-left: $margin-2 !important;
    @media screen and (max-width: $screen-md) {
      margin-left: $margin-1 !important;
    }
  }
}

//Footer Style
footer.segment {
  margin-top: $margin-6*2 !important;
  padding: $padding-4 0 !important;


  a.item {
    font-size: $font-size-1*0.9;
    color: white;
    margin-left: $margin-2;

    &:hover {
      color: #0d71bb;
      text-decoration: none;
    }
  }

  i {
    color: white;
    font-size: x-large;

    &:hover {
      color: white;
    }
  }

}