@import "variables.scss";

body, html {
  background-color: white;
}

.ui.hidden {
  display: none;
}

.ui.avatar {
  width: 35px;
  height: 35px;
}

button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  box-shadow: none;
}

.pusher {
  min-height: 100%;
  margin-bottom:$margin-4;
}
