@import "variables.scss";
@import "highlight.scss";


//Post Detail
.post-detail {
  margin-top: $margin-5*2;
  min-height: 500px;

  //TOC Style
  li::before {
    color: transparent !important;
  }

  a.active {
    font-weight: bold;
  }

  .toc {
    font-size: small;

    @media screen and (max-width: $screen-lg) {
      display: none;
    }

    li {
      ul.ui.list {
        padding-top: $padding-1/2;
        padding-bottom: $padding-1/4;

        > li {
          padding-top: $padding-1/2;
        }
      }
    }
  }

  .right.column {
    .ui.left {
      left: -250px;

      @media screen and (max-width: $screen-xl) {
        left: -180px;
      }

    }

    h1 {
      font-size: $font-size-4;
    }
  }

  .ui.segment {
    margin-top: $margin-5;
    font-family: $muted-font-family;
  }
}

//Post Comment
.post-comment {
  margin-top: $margin-5;

  .ui.form {
    p {
      color: grey;
      font-size: small;
      font-family: $muted-font-family;
    }
  }

  .ui.comments {
    margin-top: $margin-6;

    a.author {
      &:hover {
        color: black;
      }
    }
  }
}

//ToUp Button Style
#toUp {
  position: fixed;
  width: 40px;
  height: 40px;
  right: 50px;
  bottom: 50px;
  z-index: 999;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 !important;

  @media screen and (max-width: $screen-lg) {
    display: none !important;
  }

  i {
    display: flex;
    margin-left: -4.5px;
    margin-top: 2px;
    font-size: $font-size-1*1.25;
  }
}