@import "variables.scss";

//Top Menu
.ui.fixed.menu {
  .item {
    border: none !important;

    &::before {
      width: 0 !important;
    }
  }

  .ui.logo {
    img {
      width: 35px;
      height: 35px;
    }
  }

  .ui.input {
    @media screen and (max-width: $screen-sm) {
      display: none;
    }
  }
}