@import "base.scss";
@import "highlight.scss";
@import "footer.scss";
@import "menu.scss";

//Hide Header
header {
  display: none;
}

//Post
.post {
  margin-top: $margin-5*3!important;
  min-height: 500px;

  @media screen and (max-width: $screen-lg) {
    margin-top: $margin-5*2.8 !important;
  }

  @media screen and (max-width: $screen-md) {
    margin-top: $margin-5*2.5 !important;
  }

  @media screen and (max-width: $screen-sm) {
    margin-top: $margin-5*2.2 !important;
  }
}

//TOC Style
.toc {
  font-size: small;

  @media screen and (max-width: $screen-lg) {
    display: none;
  }

  a.active {
    font-weight: bold;
  }

  li {
    &::before {
      color: transparent !important;
    }

    ul.ui.list {
      padding-top: $padding-1/2;
      padding-bottom: $padding-1/4;

      > li {
        padding-top: $padding-1/2;
      }
    }
  }
}

//Post-Left Style
.post-left {
  border-right: $grey 1px solid;

  @media screen and (max-width: $screen-lg) {
    border: none;
    margin-right: 0;
    .ui.sticky {
      display: none !important;
    }
  }

  ul {
    font-size: small !important;
    margin-left: 0 !important;

    a:not(:first-child) {
      margin-top: $margin-1;
    }
  }
}

//Post-Center Style
.post-center {
  padding-left: $padding-6 !important;
  padding-right: $padding-6 !important;

  @media screen and (max-width: $screen-lg) {
    padding: 0;
  }
}

//Post Extra Style
.post-extra {
  margin-top: $margin-5;
  font-family: $muted-font-family;
}

//Post-Right Style
.post-right {
  border-left: $grey 1px solid;

  @media screen and (max-width: $screen-lg) {
    border: none;
    .ui.sticky {
      display: none !important;
    }
  }

  .ui.sticky {
    z-index: 11;
  }
}

//Post Comment
.post-comment-form {
  margin-top: $margin-5;

  .ui.form {
    p {
      color: grey;
      font-size: small;
      font-family: $muted-font-family;
    }
  }
}

.ui.comments.post-comments {
  margin-top: $margin-6;
  max-width: 700px;

  a.author {
    &:hover {
      color: black;
    }
  }

  code {
    font-size: $font-size-1;
    padding: $padding-1 $padding-2;
  }
}

//ToUp Button Style
#toUp {
  position: fixed;
  width: 40px;
  height: 40px;
  right: 50px;
  bottom: 50px;
  z-index: 999;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 !important;

  @media screen and (max-width: $screen-lg) {
    display: none !important;
  }

  i {
    display: flex;
    margin-left: -4.5px;
    margin-top: 2px;
    font-size: $font-size-1*1.25;
  }
}