@import "variables.scss";

//Post Detail
.post-detail {
  margin-top: $margin-5*3;
  min-height: 500px;

  @media screen and (max-width: $screen-md) {
    margin-top: $margin-6 !important;
  }

  @media screen and (max-width: $screen-lg) {
    margin-top: $margin-5*2 !important;
    .ui.dividing {
      border: none !important;
    }
  }

  .ui.sticky {
    margin-top: 75px !important;
    z-index: 11;
  }

  .right.column {
    h1 {
      font-size: $font-size-4;
    }
  }

  .ui.segment {
    margin-top: $margin-5;
    font-family: $muted-font-family;
  }
}

//TOC Style
.toc {
  font-size: small;

  @media screen and (max-width: $screen-lg) {
    display: none;
  }

  a.active {
    font-weight: bold;
  }

  li {
    &::before {
      color: transparent !important;
    }

    ul.ui.list {
      padding-top: $padding-1/2;
      padding-bottom: $padding-1/4;

      > li {
        padding-top: $padding-1/2;
      }
    }
  }
}

//Post-Left Style
.post-left {
  border-right: $grey 1px solid;
  margin-right: $margin-5;

  .ui.header {
    margin-top: $margin-1;
  }

  @media screen and (max-width: $screen-lg) {
    border: none;
    margin-right: 0;
    .overlay {
      display: none !important;
    }
  }

  ul {
    font-size: small !important;
    margin-left: 0 !important;

    a:not(:first-child) {
      margin-top: $margin-1;
    }
  }
}