@import "variables.scss";
@import "highlight.scss";


//Post Detail
.ui.container.post-detail {
  margin-top: $margin-5*2;
  min-height: 500px;

  .toc {
    font-size: small;
    li.item {
      &::before {
        color: transparent;
      }

      ul.ui {
        padding-top: $padding-1;
        padding-bottom: $padding-1/2;
      }
    }
  }

  .right.column {
    .ui.left {
      left: -250px;

      @media screen and (max-width: $screen-lg) {
        display: none;
      }
    }

    h1 {
      font-size: $font-size-4;
    }
  }
}

//ToUp Button Style
#toUp {
  position: fixed;
  width: 40px;
  height: 40px;
  right: 50px;
  bottom: 50px;
  z-index: 999;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 !important;

  i {
    display: flex;
    margin-left: -4.5px;
    margin-top: 2px;
    font-size: $font-size-1*1.25;
  }
}