@import "variables.scss";

//Post Detail
.post-detail {
  margin-top: $margin-5*3;
  min-height: 500px;

  .ui.segment {
    margin-top: $margin-5;
    font-family: $muted-font-family;
  }
}

//TOC Style
.toc {
  font-size: small;

  @media screen and (max-width: $screen-lg) {
    display: none;
  }

  a.active {
    font-weight: bold;
  }

  li {
    &::before {
      color: transparent !important;
    }

    ul.ui.list {
      padding-top: $padding-1/2;
      padding-bottom: $padding-1/4;

      > li {
        padding-top: $padding-1/2;
      }
    }
  }
}

//Post-Left Style
.post-left {
  border-right: $grey 1px solid;

  @media screen and (max-width: $screen-lg) {
    border: none;
    .ui.sticky {
      display: none !important;
    }
  }

  ul {
    font-size: small !important;
    margin-left: 0 !important;

    a:not(:first-child) {
      margin-top: $margin-1;
    }
  }
}

.post-center {
  padding-left: $padding-6 !important;
  padding-right: $padding-6 !important;

  @media screen and (max-width: $screen-lg) {
    padding: 0!important;
  }
}

.post-right {
  border-left: $grey 1px solid;

  @media screen and (max-width: $screen-lg) {
    border: none;
  }

  .ui.sticky {
    z-index: 11;
  }

}