$margin-1: 0.5em;
$margin-2: 1em;
$margin-3: 1.5em;
$margin-4: 2em;
$margin-5: 2.5em;
$margin-6: 3em;

$font-size-1: 1em;
$font-size-2: 1.5em;
$font-size-3: 2em;
$font-size-4: 2.5em;
$font-size-5: 3em;

$screen-sm: 35.5em;
$screen-md: 48em;
$screen-lg: 65em;
$screen-xl: 80em;
