@import "base.scss";

$btn-logout-width: 70px;
$btn-logout-height: $btn-logout-width;

.btn-logout {
   height: $btn-logout-height;
   width: $btn-logout-width;
   border-radius: 50%;
}

.btn-login {
   background-color: $custom-blue;
   color: white;

   &:hover {
      background-color: rgba($custom-blue, 0.8);
      color: white;
   }
}

.btn-signup {
   @extend .btn-login
}

.btn-update {
   @extend .btn-login
}
