@import "base.scss";

.login.grid {
  height: 100%;

  > .column {
    max-width: 800px;
  }

  .ui.divider,
  .middle.aligned.column {
    @media screen and (max-width: $screen-md) {
      display: none;
    }
  }

  .ui.message {
    display: none;
    @media screen and (max-width: $screen-md) {
      display: block;
    }
  }

  .image {
     margin-right: -15px!important;
  }

  img.logo {
    width: 50px;
    height: 50px;

  }

  .ui.header {
    font-weight: normal;
    color: black !important;
    font-family: $header-font-family;
  }

  .button.submit {
    width: 100%;
  }

  .github.icon {
    font-size: $font-size-5;
    color: black;

    &:hover {
      color: black;
    }
  }
}

.signup.grid {
  @extend .login.grid;

  .github.icon {
    margin-top: 15px;
  }
}

.profile.grid {
  @extend .login.grid;

  .ui.card {
    margin-left: $margin-4;
    height: 100%;
    width: 100%;
  }

  form {
    .field {
      max-width: 100% !important;
    }

    textarea {
      max-width: 100% !important;
    }

    .ui.button {
      max-width: 100% !important;
    }
  }
}