{% extends 'blog/post.html' %}

{% load sass_tags %}
{% load static %}
{% load blog_tags %}
{% load highlight %}

{% block keywords %}
{% endblock keywords %}

{% block description %}
{% endblock description %}


{% block lib_css %}
{% endblock lib_css %}
{% block css %}
    <link rel="stylesheet" href="{% sass_src 'search/css/search.scss' %}">
{% endblock css %}

{% block lib_js %}
{% endblock lib_js %}
{% block js %}
    <script src="{% static 'search/js/search.js' %}"></script>
{% endblock js %}

{% block content %}
    <div class="ui container grid stackable">
        <div class="row search">
            <div class="three wide column">
            </div>
            <div class="ten wide column">
                <form class="ui search form" method="get">
                    <div class="ui search">
                        <div class="ui icon input">
                            <label for="id_q"></label>
                            {{ form.q }}
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </form>
                {% if query %}
                    <div class="results">
                        <h3 class="ui header dividing">搜索结果</h3>
                        {% for result in page.object_list %}
                            <div class="result ui segment">
                                <h3 class="ui header">
                                    <a href="{% url 'blog:post' result.object.slug %}">
                                        {% highlight result.object.title with query %}
                                    </a>
                                </h3>
                                <div class="content">
                                    {% get_descriptions result.object.abstract as absrtact %}
                                    {% highlight absrtact with query %}
                                </div>
                                <div class="extra">
                                    <span>{% highlight result.object.category with query %}</span>
                                    <span>{{ result.object.create_date| date:"Y-m-j H:m" }}</span>
                                </div>
                            </div>
                        {% empty %}
                            <div class="empty">
                                <div class="icon">
                                    <i class="search icon"></i>
                                </div>
                                <div class="content">
                                    没有搜索到有关于 <span class="highlighted">{{ query }}</span> 的内容
                                </div>
                            </div>
                        {% endfor %}
                        {% if page.object_list %}
                            <div class="paginator">
                                <div class="ui two item menu">
                                    {% if page.has_previous %}
                                        <a class="item" href="?q={{ query }}&page={{ page.previous_page_number }}">
                                            上一页
                                        </a>
                                    {% else %}
                                        <a class="item disabled">
                                            上一页
                                        </a>
                                    {% endif %}
                                    {% if page.has_next %}
                                        <a class="item" href="?q={{ query }}&page={{ page.next_page_number }}">
                                            下一页
                                        </a>
                                    {% else %}
                                        <a class="item disabled" disabled>
                                            下一页
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="three wide column">
            </div>
        </div>
    </div>
{% endblock content %}