{% load static %}
{% load sass_tags %}
{% load compress %}
<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block description %}{% endblock description %}
    {% block keywords %}{% endblock keywords %}
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" sizes="32x32" href="{% static 'img/favicon.ico' %}">
    {% compress css %}
        <link rel="stylesheet" href="{% static 'lib/semantic/dist/semantic.min.css' %}">
        <link rel="stylesheet" href="{% sass_src 'blog/css/base.scss' %}">
        {% block css %}
        {% endblock css %}
    {% endcompress %}
</head>
<body>
{% include 'blog/sidebar.html' %}
<div class="pusher">
    {% include 'blog/header.html' %}
    {% block content %}
    {% endblock content %}
    {% block extra %}
    {% endblock extra %}
    {% include 'blog/footer.html' %}
</div>
{% compress js %}
    <script src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'lib/semantic/dist/semantic.min.js' %}"></script>
    <script src="{% static 'lib/highlight/src/highlight.js' %}"></script>
    <script src="{% static 'blog/js/base.js' %}"></script>
    {% block js %}
    {% endblock js %}
{% endcompress %}
</body>
</html>