{% load static %}
<header class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="expand item">
                <i class="sidebar icon"></i>
                <b>菜单</b>
            </a>
            <a class="active item" href="{% url 'blog:index' %}">主页</a>
            <div class="right item">
                {% if user.is_authenticated %}
                    <div class="ui dropdown item link right pointing top">
                    <img class="ui avatar" src="{{ user.avatar.url }}" alt="">
                    <i class="dropdown icon"></i>
                    <div class="menu link">
                        <div class="header"><b>{{ user.username }}</b>, 欢迎</div>
                        <div class="item" onclick="window.location.href='{% url "accounts:profile" %}'">基本信息</div>
                        <div class="item" onclick="window.location.href='{% url "account_change_password" %}'">修改密码
                        </div>
                        <div class="item logout">注销</div>
                        <div class="ui basic modal logout-modal">
                            <div class="ui icon header">
                                <i class="trash icon"></i>
                                确认要注销吗 ？
                            </div>
                            <div class="content">
                            </div>
                            <div class="actions">
                                <div class="ui red basic cancel inverted button">
                                    <i class="remove icon"></i>
                                    取消
                                </div>
                                <div class="ui green ok inverted button">
                                    <i class="checkmark icon"></i>
                                    确认
                                </div>
                            </div>
                        </div>
                        <form method="post" class="ui hidden" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                            <div>
                                <button type="submit"></button>
                            </div>
                        </form>
                    </div>
                {% else %}
                    <a class="ui inverted button" href="{% url 'account_login' %}">登录</a>
                    <a class="ui inverted button" href="{% url 'account_signup' %}">注册</a>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="ui text container">
            <h1 class="ui inverted header">
                Chandelure's Blog
            </h1>
            <h3>Do whatever you want when you want to.</h3>
        </div>
    </div>
</header>