{#{% extends 'blog/base.html' %}#}
{#{% load static %}#}
{#{% load sass_tags %}#}
{##}
{#{% block title %}主页 | Chandelure的个人博客{% endblock title %}#}
{##}
{#{% block css %}#}
{#    <link rel="stylesheet" href="{% sass_src "blog/css/blog.scss" %}">#}
{#    <link rel="stylesheet" href="{% static "highlight/css/monokai.css" %}">#}
{#{% endblock css %}#}
{##}
{#{% block js %}#}
{#    <script src="{% static 'highlight/js/highlight.pack.js' %}"></script>#}
{#    <script src="{% static 'blog/js/blog-index.js' %}"></script>#}
{#{% endblock js %}#}
{##}
{#{% block content %}#}
{#    <div class="container p-3">#}
{#        <div class="row">#}
{#            <div class="col-lg-2"></div>#}
{#            <div class="col-lg-8">#}
{#                <div id="post-card-container">#}
{#                </div>#}
{#                <div class="text-center d-none" id="load-post-card">#}
{#                    <div class="load-post-card-divider border-top pt-4"></div>#}
{#                    <button class="btn text-white mb-5 bg-transparent border-0">#}
{#                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>#}
{#                    </button>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-lg-2"></div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock content %}#}
{% extends 'blog/base.html' %}

{% load sass_tags %}
{% load static %}
{% block title %}主页 | Chandelure的个人博客{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% sass_src 'blog/css/index.scss' %}">
{% endblock css %}
{% block js %}
    <script src="{% static 'lib/highlight/src/highlight.js' %}"></script>
    <script src="{% static 'blog/js/index.js' %}"></script>
{% endblock js %}

{% block content %}
    <div class="ui container post-list" id="postList">
        <h1>All Posts</h1>
        <div class="ui stackable grid">
            {#            <div class="ui row">#}
            {#                <div class="four wide column">#}
            {#                    <time>January 17, 2020</time>#}
            {#                    <p class="category">Category</p>#}
            {#                </div>#}
            {#                <div class="eleven wide column">#}
            {#                    <h3><a href="#">这是一个标题</a></h3>#}
            {#                    <p>最近升级到了 macOS Catalina 10.15，发现我的 MX Master 2S 鼠标在 10.15 系统下，使用 Unifying#}
            {#                        优联模式，光标和左右按键全部失效，而功能键正常（蓝牙模式一切正常）。尝试了重装 Logi Option on Mac ，结果还是一样#}
            {#                        网上找到很多中文的资料，但罗技中文的论坛几乎没人谈这个 bug。差点就要回滚系统的时候，在罗技的美国官网论坛，发现了解决方案。</p>#}
            {#                    <h4 class="ui horizontal header divider">#}
            {#                        <a href="#">Read More »</a>#}
            {#                    </h4>#}
            {#                </div>#}
            {#            </div>#}
        </div>
        <div class="ui center aligned container load">
            <button class="ui large button hidden" id="loadPostListButton"><i class="angle double down icon"></i>
            </button>
        </div>
    </div>
{% endblock content %}

{% block extra %}
    <div>
        <button class="ui button grey hidden" id="toUp"><i class="angle up icon"></i></button>
    </div>
{% endblock extra %}