{% load comment_tags %}
{% load mptt_tags %}
<div class="post-comment-form">
    <b>发表评论 :</b>
    <form class="ui form" action="{% url 'comment:post_comment' post.id %}" method="POST">
        {% csrf_token %}
        <div class="field">
            <label for="comment_body"></label>
            <textarea name="body" class="form-control" required id="comment_body"></textarea>
        </div>
        <div class="ui footer grid">
            <div class="eight wide column">
                <p>快来参与讨论吧！</p>
            </div>
            <div class="eight wide column right aligned">
                <button class="ui button primary" type="submit">发表</button>
            </div>
        </div>
    </form>
</div>
<div class="ui modal comment-modal">
    <i class="close icon"></i>
    <div class="header">
        回复给
    </div>
    <div class="content">
        <form class="ui form" action="" method="POST">
            {% csrf_token %}
            <div class="field">
                <label for="modal_comment_body"></label>
                <textarea name="body" class="form-control" required id="modal_comment_body"></textarea>
            </div>
            <div class="ui footer grid">
                <div class="eight wide column">
                </div>
                <div class="eight wide column right aligned">
                    <button class="ui button primary" type="submit">发表</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="ui threaded comments post-comments">
    <h3 class="ui dividing header">评论 ( 共 {{ comments.count }} 条 ）</h3>
    {% recursetree comments %}
        {% with comment=node %}
            <div class="comment" id="comment_{{ comment.id }}">
                <a class="avatar">
                    <img src="{{ comment.user.avatar.url }}" alt="">
                </a>
                <div class="content">
                    {% if comment.is_root_node %}
                        <a class="author">{{ comment.user }}</a>
                    {% else %}
                        <a class="author">{{ comment.user }}&nbsp&nbsp
                            <i class="share icon"></i>
                            {{ comment.reply_to }}
                        </a>
                    {% endif %}
                    <div class="metadata">
                        <span class="date">{{ comment.create_date|time_since }}</span>
                    </div>
                    <div class="text">{{ comment.body|safe }}</div>
                    <div class="actions">
                        <a class="reply" data-postid="{{ post.id }}"
                           data-parentcommentid="{{ comment.id }}"
                           data-replyusername="{{ comment.user.username }}">
                            Reply
                        </a>
                    </div>
                    {% if not comment.is_leaf_node %}
                        {{ children }}
                    {% endif %}
                </div>
            </div>
        {% endwith %}
    {% endrecursetree %}
</div>