{% extends 'blog/base.html' %}
{% load static %}
{% load sass_tags %}
{% load blog_tags %}

{% block css %}
    <link rel="stylesheet" href="{% sass_src "blog/css/blog.scss" %}">
{% endblock css %}

{% block js %}
    <script src="{% static 'blog/js/bootstrap-toc.js' %}"></script>
    <script src="{% static 'blog/js/blog-detail.js' %}"></script>
{% endblock js %}

{% block content %}


    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar p-5" id="sidebar">
                    <div class="sidebar__inner">
                        {% markdown_text post.body as body %}
                        <nav id="toc"></nav>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="post-detail pb-5 pt-5">
                    <div class="post-detail-header">
                        <h1 class="text-white" data-toc-skip>{{ post.title }}</h1>
                        <p class="text-white mb-2 pt-2 pb-2">
                            <span class="text-dark bg-white badge">{{ post.create_date | date:"Y.m.j" }}</span>
                            <a href="#"><span class="badge bg-white text-dark ml-2">{{ post.category.name }}</span></a>
                        </p>
                    </div>
                    <div class="post-body text-white">
                        {{ body.html|safe }}
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}