{% load blog_tags %}
<div class="ui container grid stackable">
    <div class="row post-detail" id="postDetail">
        <div class="three wide column post-left">
            <div class="ui sticky">
                {% if post.column %}
                    <div class="post-column">
                        <h3 class="ui header">{{ post.column.name }}</h3>
                        <ul class="ui list link">
                            {% for column_post in post.column.post.public %}
                                {% ifequal column_post post %}
                                    <a class="item active"
                                       href="{% url 'blog:post' column_post.slug %}">{{ column_post.title }}</a>
                                {% else %}
                                    <a class="item"
                                       href="{% url 'blog:post' column_post.slug %}">{{ column_post.title }}</a>
                                {% endifequal %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="eleven wide column post-center">
            <div class="markdown" id="postContent">
                <h1 class="ui header dividing">{{ post.title }}</h1>
                {% markdown_text post.body as body %}
                {{ body.html|safe }}
            </div>
            <div class="ui segment extra">
                <div class="ui list">
                    <div class="item">
                        <i class="folder outline icon"></i>
                        <div class="content">
                            本文标题： {{ post.title }}
                        </div>
                    </div>
                    <div class="item">
                        <i class="address card outline icon"></i>
                        <div class="content">
                            本文作者： {{ post.author }}
                        </div>
                    </div>
                    <div class="item">
                        <i class="clock outline icon"></i>
                        <div class="content">
                            发布时间： {{ post.mod_time | date:"Y-m-j H:m" }}
                        </div>
                    </div>
                    <div class="item">
                        <i class="linkify icon"></i>
                        <div class="content">
                            文章链接： https://{{ request.get_host }}{{ post.get_absolute_url }}
                        </div>
                    </div>
                    <div class="item">
                        <i class="closed captioning outline icon"></i>
                        <div class="content">
                            文章协议： 非商业性使用 4.0 国际许可协议
                        </div>
                    </div>
                </div>
            </div>
            {% include 'blog/post-comment.html' %}
        </div>
        <div class="two wide column post-right">
            <div class="ui sticky toc-container">
                {% markdown_text post.body as body %}
                {{ body.toc|safe }}
            </div>
        </div>
    </div>
</div>