{% load blog_tags %}
<div class="ui sticky">
    {% if post.column %}
        <div class="post-column">
            <h3 class="ui header">{{ post.column.name }}</h3>
            <ul class="ui list link">
                {% sort_posts_in_column post.column.post.public as posts %}
                {% for column_post in posts %}
                    {% ifequal column_post post %}
                        <a class="item active" href="{% url 'blog:post' column_post.slug %}">
                            {{ column_post.title }}
                        </a>
                    {% else %}
                        <a class="item" href="{% url 'blog:post' column_post.slug %}">
                            {{ column_post.title }}
                        </a>
                    {% endifequal %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>