{#{% load blog_tags %}#}
{##}
{#<div class="post-detail pb-5 pt-5" id="post-detail">#}
{#    <div class="post-header text-center">#}
{#        <h2 class="text-white font-weight-bold" data-toc-skip>{{ post.title }}</h2>#}
{#        <small class="text-muted mb-2 pt-2 pb-2">#}
{#            <span><i class="fa fa-calendar-o" aria-hidden="true"></i>{{ post.create_date | date:"Y-m-j" }}</span>#}
{#            <span class="pl-1 pr-1">|</span>#}
{#            <a class="text-muted" href="#">#}
{#                <span><i class="fa fa-file" aria-hidden="true"></i>{{ post.category.name }}</span>#}
{#            </a>#}
{#            <span class="pl-1 pr-1">|</span>#}
{#            <span><i class="fa fa-eye" aria-hidden="true"></i>{{ post.views }}</span>#}
{#        </small>#}
{#    </div>#}
{#    <div class="post-body post-markdown text-white">#}
{#        {% markdown_text post.body as body %}#}
{#        {{ body|safe }}#}
{#    </div>#}
{#    <div class="post-footer mt-5 border shadow">#}
{#        <div class="card text-white bg-transparent">#}
{#            <div class="card-body">#}
{#                <h6 class="card-text" data-toc-skip>#}
{#                    <small><i class="fa fa-book" aria-hidden="true"></i>标题：{{ post.title }}</small>#}
{#                </h6>#}
{#                <h6 class="card-text" data-toc-skip>#}
{#                    <small><i class="fa fa-user" aria-hidden="true"></i>作者：{{ post.author }}</small>#}
{#                </h6>#}
{#                <h6 class="card-text" data-toc-skip>#}
{#                    <small><i class="fa fa-calendar-o" aria-hidden="true"></i>#}
{#                        发表日期：{{ post.mod_time | date:"Y-m-j H:m" }}#}
{#                    </small>#}
{#                </h6>#}
{#                <h6 class="card-text" data-toc-skip>#}
{#                    <small>#}
{#                        <i class="fa fa-calendar" aria-hidden="true"></i>#}
{#                        最后修改日期：{{ post.create_date | date:"Y-m-j H:m" }}#}
{#                    </small>#}
{#                </h6>#}
{#                <h6 class="card-text" data-toc-skip>#}
{#                    <small><i class="fa fa-link" aria-hidden="true"></i>#}
{#                        链接：https://{{ request.get_host }}{{ post.get_absolute_url }}#}
{#                    </small>#}
{#                </h6>#}
{#                <h6 class="card-text" data-toc-skip>#}
{#                    <small><i class="fa fa-id-card-o" aria-hidden="true"></i>#}
{#                        协议：非商业性使用 4.0 国际许可协议#}
{#                    </small>#}
{#                </h6>#}
{#            </div>#}
{#            <div class="card-footer border-top">#}
{#                <small class="blockquote-footer">#}
{#                    本文版权归{{ post.author }}所有，欢迎转载，但未经作者同意必须保留此段声明，且在文章页面明显位置给出。#}
{#                </small>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div> #}
{% load blog_tags %}
<div class="row post-detail" id="postDetail">
    <div class="three wide column left">
    </div>
    <div class="eleven wide column right">
        <div class="ui left rail">
            <div class="overlay">
                {% markdown_text post.body as body %}
                {{ body.toc|safe }}
            </div>
        </div>
        <div class="markdown">
            <h1>{{ post.title }}</h1>
            {{ body.html|safe }}
        </div>
        <div class="ui segment">
            <div class="ui list">
                <div class="item">
                    <i class="folder outline icon"></i>
                    <div class="content">
                        本文标题： {{ post.title }}
                    </div>
                </div>
                <div class="item">
                    <i class="address card outline icon"></i>
                    <div class="content">
                        本文作者： {{ post.author }}
                    </div>
                </div>
                <div class="item">
                    <i class="clock outline icon"></i>
                    <div class="content">
                        发布时间： {{ post.mod_time | date:"Y-m-j H:m" }}
                    </div>
                </div>
                <div class="item">
                    <i class="linkify icon"></i>
                    <div class="content">
                        文章链接： https://{{ request.get_host }}{{ post.get_absolute_url }}
                    </div>
                </div>
                <div class="item">
                    <i class="closed captioning outline icon"></i>
                    <div class="content">
                        文章协议： 非商业性使用 4.0 国际许可协议
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>